<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="navigeerNaar($event, '')">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="align-self-center">
  <h1>
    Manage badges and authorizations
  </h1>
      <hr/>

  <p><button class="btn btn-info" routerLink="/overzicht-badges">Badges overview</button>&nbsp; <em>End-user views badges</em></p>
  <p><button class="btn btn-info" routerLink="/overzicht-authorizations">Authorizations overview</button>&nbsp; <em>End-user views granted authorizations</em></p>
  <p><button class="btn btn-info" routerLink="/requests">Requests overview</button>&nbsp; <em>End-user views incoming requests</em></p>

</div>
</div>
</div>
