<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="navigeerNaar($event, '')">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>

<div style="text-align:center">
  <h1>
    Manage badges and authorizations
  </h1>

  <button (click)="navigeerNaar($event, 'overzicht-badges')">Badges overview</button>
  <button (click)="navigeerNaar($event, 'overzicht-machtigingen')">Authorizations overview</button>
  <button (click)="navigeerNaar($event, 'controle-aanvraag-afhandelen')">Process badge verification request</button>

</div>
