<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="navigeerNaar($event, '')">Home</a></li>
    <li class="breadcrumb-item"><a href="#" (click)="navigeerNaar($event, 'beheer')">Manage</a></li>
    <li class="breadcrumb-item active" aria-current="page">Authorizations overview</li>
  </ol>
</nav>

<div style="text-align:center" class="container">
  <h1>
    Authorizations overview
  </h1>

  <div class="card-deck">
    <div *ngFor="let machtiging of machtigingen">
      <div [ngStyle]="machtiging.status !== 'invalid' ? {'opacity':'1'}: {'opacity':'0.5'}" class="card border-dark mb-3" style="max-width: 18rem;">
        <div *ngIf="machtiging.status === 'invalid'" class="card-header">INGETROKKEN: {{machtiging.titel}}</div>
        <div *ngIf="machtiging.status !== 'invalid'" class="card-header">{{machtiging.titel}}</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Gemachtigde: {{machtiging.gemachtigde}}</h5>
          <p class="card-text">Van: {{machtiging.periode.van}}</p>
          <p class="card-text">Tot: {{machtiging.periode.tot}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
