<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="#">Home</a></li>
  </ol>
</nav>

<div style="text-align:center">
  <h1>
    Choose function
  </h1>

  <button (click)="gaNaarPagina($event, 1)">Create</button>
  <button (click)="gaNaarPagina($event, 2)">Manage</button>
  <button (click)="gaNaarPagina($event, 3)">Verify badge</button>

  <div style="text-align:center">
    <p></p>
    <img src="../../assets/images/rian.jpeg"/>
    <h2>Cybersecured by Rian - copyright 2019</h2>
  </div>

</div>
