#divInstitute {
  color: white;
  border-radius: 25px;
  text-align: center;
}

#divClient {
  color: white;
  border-radius: 25px;
  text-align: center;

}/* You can add global styles to this file, and also import other style files */

#divIssuer {
  color: white;
  border-radius: 25px;
  text-align: center;
}

.buttonInstitute {
  background-color: lightblue;
}
.buttonClient{
  background-color: lightcoral;
}
.buttonIssuer{
  background-color: lightgreen;
}


